.mainNav {
    height: 60px;
    background-color: plum;
    display: flex;
    justify-content: center;
   
}

.mainNav ul {
display: flex;
justify-content: space-between;
}

.mainNav li {
    list-style: none;
    margin-left: 50px;

}

.mainNav li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}