.leftBtn,
.rightBtn {
  position: fixed;
  bottom: 1vh;

  width: 50px;
  height: 50px;
  padding-bottom: 7.5px;
  border-radius: 25px;
  border: none;
  background-color: #123456;
  box-shadow: 0 0 5px white;

  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBtn {
  left: 1vh;
  padding-right: 2.5px;
}

.rightBtn {
  right: 1vh;
  padding-left: 2.5px;
}
