.mainBackground {
    background-color: #c2d2f2;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    background-color: #203359;
    color: white;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
  }
  
  .header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .topContent {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .leftImage {
    width: 20%;
    height: 150px;
    background-color: #ddd;
    border-radius: 8px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
  }
  
  .textHeader {
    height: 40px;
    background-color: white;
    border-radius: 8px;
  }
  
  .textBox {
    height: 80px;
    background-color: white;
    border-radius: 8px;
  }
  
  .bottomImage {
    width: 80%;
    height: 200px;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 8px;
  }